body {
    font-family: 'Prompt', sans-serif;
}
body.night {
    background-color: #4f4f7a;
    color: white;
    transition: .3s all;
}

body.morning {
    background-color: #ffd5be; 
    color: rgb(17, 17, 22);
    transition: .3s all;
}

.list {
    margin: 10px;
    display: inline-block;
    /* padding: 10px; */
    /* border-radius: 8px; */
    /* min-width: 200px; */
    width: auto;
    cursor: pointer;
}

button.close {
    outline: none;
}

.list-input {
    background-color: transparent;
    outline: none;
    /* border-bottom: 1px rgb(128, 128, 128) solid; */
    border: none;
    /* min-width: 50px !important;
    max-width: 400px !important; */
}

.toggle-text {
    font-size: 12px;
    position: fixed;
    top: 30px;
    right: calc(50% - 160px);
}